.form {
  display: grid;
  gap: 30px;
}

.label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.input {
  width: 100%;
  display: block;
  padding: 5px 0 9.5px;
  border-bottom: 1px solid #fff;
  font-weight: 200;
}

.textarea {
  resize: vertical;/*тянуть только вертикально*/

  display: block;
  width: 100%;

  height: 157px;
  padding: 5px 0 10px;
  border-bottom: 1px solid #fff;
  line-height: 1.5;
  font-weight: 200;
}

.textarea:focus { /*Убрать выделение*/
  outline: none;
}
.input:focus, .textarea:focus {
  border: 2px solid var(--accent);/* Измените цвет рамки на нужный */
  transition: border 0.3s ease;
}