.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffd479; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Без границы */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px 15px; /* Отступы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.scroll-to-top:hover {
    background-color: #ffba24; /* Цвет фона при наведении */
}